[submodule "third_party/libcxxrt"]
	path = third_party/libcxxrt
	url = https://github.com/itrofimow/libcxxrt.git
	branch = libcxxrt_issue_37_repro
[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://github.com/itrofimow/llvm-project.git
	branch = libcxxrt_issue_37_repro
